<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Us</title>
    <link rel="stylesheet" href="/css/tablestyles.css" />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <header>
      <nav class="navbar">
        <div class="container">
          <a href="/" class="logo">L1000</a>
          <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>
          <div class="menu-toggle">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
          </div>
        </div>
      </nav>
    </header>

    <main>
      <div class="container">
      <section class="about-ABPage">
        <p>
   This website is built on a RESTful API server that queries a SQL database containing the L1000 dataset. It was developed as part of the Scientific Data Management (SDAM) module, under the supervision of <a href="https://www.th-bingen.de/hochschule/personenverzeichnis/person/asis-hallab" target="_blank">Prof. Dr. Asis Hallab</a> and <a href="https://intranet.th-bingen.de/fachbereich_i/lehrende/heigwer_florian_prof_dr_rer_nat" target="_blank">Prof. Dr. Florian Heigwer</a>, for the Synthetic Biotechnology program.
        </p>
      </section>
        </div>
      </section>
    </main>
  </body>
</html>
