@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

table,
th,
td {
  font-family: 'Roboto';
  /* Proper alignement */
  text-align: center;
  /* Table border */
  padding: 10px;
  box-sizing: border-box;
}

main {
  justify-content: center;
  align-items: center;
}

.tableDiv {
  height: auto;
  align-items: center;
  justify-content: center;
}

table {
  border-radius: 12px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  height: 80vh;
  margin: 0 auto;
  border-collapse: collapse;
  max-height: 80vh;
  position: relative;
  z-index: 0;
  table-layout: fixed;
}

thead {
  position: sticky;
  top: 0;
  z-index: 3;
  padding: 12px;
  border-radius: 12px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

th {
  /* Set vertical alignment to centered */
  text-align: center;
  background-color: #333;
  color: white;
  font-size: 14px;
  max-width: 4vw;
  width: 4vw;
  /* position: sticky;
  top: 0;
  z-index: 1; */
}

td {
  padding: 10px 10px;
  text-align: center;
  word-wrap: break-word;
  overflow-wrap: break-word;
  max-width: 4vw;
  width: 4vw;
}

tr {
  padding: 10px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: lightcoral;
}

td img {
  width: 50px;
  height: 50px;
}

td img:hover {
  transform: scale(5); /* Increase size by 20% */
  transition: transform 0.3s ease; /* Add smooth transition */
  border: 2px solid #ccc;
  background-color: whitesmoke;
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
  color: grey;
  font-weight: bold;
  margin-left: 5px;
  z-index: 500;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden; /* Initially hidden */
  width: 150px; /* Adjust the width as needed */
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  font-size: 12px;
  position: absolute;
  z-index: 1000000; /* High z-index to ensure tooltip appears above other elements */
  top: 125%; /* Position below the icon */
  left: 50%;
  transform: translateX(-50%); /* Center the tooltip */
  opacity: 0; /* Start with 0 opacity */
  transition:
    opacity 0.3s ease-in-out,
    visibility 0.3s ease-in-out; /* Smooth transition for appearance */
  white-space: normal; /* Allow text to wrap */
  word-wrap: break-word; /* Break long words if needed */
}

.Pagination {
  background-color: #333;
  color: white;
  margin-top: 12px;
}

::-webkit-scrollbar {
  display: none;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: '';
  position: absolute;
  bottom: 100%; /* Position the arrow above the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent; /* Arrow color and direction */
}

/* Show the tooltip text when hovering over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.header-row {
  background-color: #333; /* Header row background color */
  color: white;
  font-size: 18px;
  position: relative;
  z-index: 5;
  /* position: sticky; /* Make the header row sticky */
  /* top: 0; /* Stick to the top */
  /* z-index: 5; /* Ensure it’s above other content */
}

.header-row th {
  font-size: 7px;
}

thead tr:first-child th:first-child {
  border-top-left-radius: 12px; /* Round top-left corner */
}

thead tr:first-child th:last-child {
  border-top-right-radius: 12px; /* Round top-right corner */
}

thead tr:last-child th:first-child {
  border-bottom-left-radius: 12px; /* Round top-left corner */
}

thead tr:last-child th:last-child {
  border-bottom-right-radius: 12px; /* Round top-right corner */
}

.searches {
  background-color: #333; /* Header row background color */
  color: white;
  font-size: 14px;
  position: relative;
  z-index: 1;
  /* position: sticky; /* Make the header row sticky */
  /* top: 65px;
  z-index: 5; /* Ensure it’s above other content */
}

.searches th {
  position: relative;
  z-index: 2;
}

.HeaderDiv {
  /* position: sticky;
  top: 0; */
  z-index: 1000;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
}

/* Container to hold the header text and buttons */
.th-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  position: relative;
  padding: 0;
  margin: 0;
}

/* Enable hyphenation */
.hyphenate {
  hyphens: auto; /* or 'manual' if you want to control hyphenation explicitly */
  word-break: break-word;
  word-wrap: break-word;
  white-space: normal;
  /* text-align: justify; */
}

.th-text {
  margin-right: 10px;
}

.th-container span {
  width: 80%;
}

/* Container for buttons */
.button-container {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  justify-content: space-between;
  position: absolute;
  align-items: center;
  top: 50%; /* Center vertically */
  right: 0;
  transform: translateY(-50%); /* Adjust alignment */
  margin: 0;
  padding: 0;
}

/* Style the buttons to remove default appearance */

.btn-top {
  /* Turn button 90 degrees */
  transform: translateY(15%) rotate(90deg) scaleX(-1);
  background: transparent; /* Removes the default grey background */
  margin: 0; /* Removes default margins */
  padding: 0;
  border: 0;
  font-size: 6px; /* Sets font size */
  color: white;
  cursor: pointer; /* Changes cursor to pointer on hover */
  outline: none; /* Removes default outline */
}

.btn-bottom {
  /* Turn button 90 degrees */
  transform: rotate(90deg);
  background: transparent; /* Removes the default grey background */
  margin: 0; /* Removes default margins */
  text-align: center;
  padding: 0;
  border: 0;
  font-size: 6px; /* Sets font size */
  color: white;
  cursor: pointer; /* Changes cursor to pointer on hover */
  outline: none; /* Removes default outline */
}

tbody tr {
  font-size: 8px;
}
